.footer {
    display:flex;
    align-items: center;
    width: 100%;
    height: 50px;
    transition: .25s;
}

.light {
    background-color: rgb(226, 226, 226);
    color:black
}

.dark {
    background-color: #191919;
    color: white;
}

.footertext {
    font-size: large;
    font-weight: 700;
    margin-left: 1rem;
}