.blogheader {
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
}

.darkblogheader {
    border-bottom: 1px solid white;
}

.lightblogheader {
    border-bottom: 1px solid black;
}

.blogtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: .2rem;
    margin-top: 1rem;
}

.blogtitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.blogsubtitle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    margin-bottom: .5rem;
    margin-top: 0;
}

.blogdate {
    font-family: 'Courier New', Courier, monospace;
    font-size: .9rem;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
}
