.container {
  padding: 0 0rem;
  overflow: hidden;
  /* background: black; */
}

.dark {
  background: black;
  color:white;
  transition: .25s;
}

.light {
  background: white;
  color:black;
  transition: .25s;
}

.main {
  margin: 3rem;
  margin-top: 0;
  min-height: 100vh;
  padding: 1rem 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* slow transition */
  transition: .25s;
}

@media (max-width: 768px) {
  .main {
    margin: 0rem;
    padding: 0.5rem 1rem;
  }
}

.darkmodebutton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border: black 1px solid;
  color:black;
  background-color: white;
  border-radius: 10%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5rem 0.5rem;
  transition: 0.35s;
}

.darkdarkmodebutton:hover {
  background-color: lightgray;
}

.lightdarkmodebutton:hover {
  background-color: lightgray;
}