.nav {
    height: 50px;
    width: 100vw;
    background-color: rgb(148, 129, 129);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 2px -2px darkgray;
}

.light {
    background-color: rgb(176, 176, 176);
    color:black
}

.dark {
    background-color: #373737;
    color: white;
}

.nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
}

.nav ul li {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    height:100%;
    padding: 1rem 1rem;
    transition: 0.35s;
}

/* Make link class underlined and change cursor */
.link:hover {
    text-decoration: underline;
    cursor: pointer;
}